---
import Layout from '../../../shared/src/layouts/Layout.astro';
import ScheduleForm from '../../../shared/src/components/ScheduleForm.astro';

const title = "Agendamento - QQEnglish Business";
const description = "Selecione a data e horario para a apresentacao corporativa.";
---

<Layout title={title} description={description}>
  <main>
    <ScheduleForm />
  </main>
</Layout>
